/***** pie de pagina *****/
footer {
    background-color: #9B006C;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 20px 60px;
}
.footer-nav-menu {
    display: flex;
    margin: 0;
}
.footer-nav-item {
    margin: 0 10px;
}
.footer-nav-link {
    font-size: 14px;
    color: white;
}
.footer-social-links {
    display: flex;
    margin: 30px 0;
}
.footer-social-link {
    border-radius: 50%;
    width: 2.7rem;
    margin: 0 10px;
}
.footer-social-icon {
    width: 2.7rem;
    height: 2.7rem;
    text-align: center;
    transition: 0.1s;
}  
/* footer icons */
.fa-twitter .footer-social-icon,
.fa-github.footer-social-icon,
.fa-linkedin .footer-social-icon,
.fa-envelope .footer-social-icon {
    font-size: 30px;
    color: #0bbfb9;
}
.fa-twitter.footer-social-icon:hover,
.fa-github.footer-social-icon:hover,
.fa-linkedin.footer-social-icon:hover,
.fa-envelope.footer-social-icon:hover {
    cursor: pointer;
    color: #fff;
} 
@media (max-width: 768px) {
    .footer-nav-menu {
        display: none;
    }
    .footer-social-links {
        margin-top: 0;
    }
} 